---
- name: Verify WinRM connectivity (win_ping)
  ansible.windows.win_ping:

- name: Ensure Windows Update service is running
  ansible.windows.win_service:
    name: wuauserv
    state: started
    start_mode: auto

- name: Print Windows facts summary
  ansible.windows.win_shell: |
    $PSVersionTable.PSVersion
    (Get-CimInstance Win32_OperatingSystem | Select-Object Caption, Version, BuildNumber | Format-List | Out-String)
  register: win_summary

- name: Show Windows facts summary
  ansible.builtin.debug:
    var: win_summary.stdout_lines
